<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"
            integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js"
            integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital@1&display=swap" rel="stylesheet">
    <!-- Template CSS Style link -->

    <!-- Custom styles for this template-->
    <link href="css/sb-admin-2.min.css" rel="stylesheet">
    <title>Activities</title>
</head>
<body class="bg-gradient-primary">

<div class="container mt-6 bg-green">
    <h1 class="text-center text-white font-weight-bold ">Activity Manager</h1>
    <hr style="padding:10px">
    <form th:action="@{/search}" method="get">
        <input type="text" name="keyword" th:value="${keyword}" placeholder="Find by subject"
               size="40" style="outline:none;border:none;padding:0.3rem" class="findSearch">
        <button style="margin:0 0 0.3% 0" type="submit" class="btn btn-info"><i class="fa fa-search fa-sm"></i></button>
        <a th:href="@{/reset}" style="margin:0 0 0.3% 0"  class="btn btn-info"><i class="fa fa-refresh fa-sm"></i></a>
    </form>
    <!-- fit for mobile -->
    <table class="table table-bordered table-info table-responsive-sm">
        <thead>
        <tr>
            <th style="font-size:15px" class="mb-0 font-weight-bold text-gray-900">Subject</th>
            <th style="font-size:15px" class="mb-0 font-weight-bold text-gray-900">Start</th>
            <th style="font-size:15px" class="mb-0 font-weight-bold text-gray-900">Urgency</th>
            <th style="font-size:15px" class="mb-0 font-weight-bold text-gray-900">End</th>
            <th style="font-size:15px" class="mb-0 font-weight-bold text-gray-900">Description</th>
            <th style="font-size:15px" class="mb-0 font-weight-bold text-gray-900">Name</th>
            <th style="font-size:15px" class="mb-0 font-weight-bold text-gray-900">Delete</th>
            <th style="font-size:15px" class="mb-0 font-weight-bold text-gray-900">Edit</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="l : ${list}" th:field="${l}" >
            <td class="h6 mb-0 font-weight-bold text-gray-900" th:text="${l.ownerName}"></td>
            <td class="h6 mb-0 font-weight-bold text-gray-800" th:text="${l.ownerLastName}"></td>
            <td class="h6 mb-0 font-weight-bold text-gray-800" th:text="${l.ownerEmail}"></td>
            <td class="h6 mb-0 font-weight-bold text-gray-800" th:text="${l.productName}"></td>
            <td class="h6 mb-0 font-weight-bold text-gray-800" th:text="${l.productDescription}"></td>
            <td class="h6 mb-0 font-weight-bold text-gray-800" th:text="${l.userName}"></td>
            <td class="mb-0">
                <form th:action="@{/delete/{id}(id=${l.id})}">
                    <button type="submit" class="close" style="margin:0 34%"  >
                        <i class="fas fa-trash fa-sm" aria-hidden="false" style="color: red;"></i>
                    </button>
                </form>
            </td>
            <td>
                <a th:href="@{/edit/{id}(id=${l.id})}"  style="margin:0 35%;"><i class="fas fa-edit fa-lg" ></i></a>
            </td>
        </tbody>
    </table>
    <table class="table table-bordered table-info table-md mt-2">
        <tbody>
        <tr>
            <td>
                <form th:action="@{/add}" method="post" th:object="${myPurchase}">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user" th:field="*{ownerName}"
                               placeholder="Subject">
                    </div>
                    <p th:if="${#fields.hasErrors('ownerName')}" style="font-size:1rem;" th:errors="*{ownerName}"
                       class="text-danger text-center">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user" th:field="*{ownerLastName}"
                               placeholder="Started at">
                    </div>
                    <p th:if="${#fields.hasErrors('ownerLastName')}" style="font-size:1rem;"
                       th:errors="*{ownerLastName}" class="text-danger text-center">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user" th:field="*{ownerEmail}"
                               placeholder="Priority (High,medium or low)">
                    </div>
                    <p th:if="${#fields.hasErrors('ownerEmail')}" style="font-size:1rem;" th:errors="*{ownerEmail}"
                       class="text-danger text-center">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user" th:field="*{productName}"
                               placeholder="Ended at">
                    </div>
                    <p th:if="${#fields.hasErrors('productName')}" style="font-size:1rem;" th:errors="*{productName}"
                       class="text-danger text-center">
                    <div class="form-group">
                        <input type="text" class="form-control form-control-user" th:field="*{productDescription}"
                               placeholder="Activity description">
                    </div>
                    <p th:if="${#fields.hasErrors('productDescription')}" style="font-size:1rem;"
                       th:errors="*{productDescription}" class="text-danger text-center">
                    <div class="form-group">
                        <input type="hidden" class="form-control form-control-user" placeholder="Name"
                               th:field="*{productPrice}">
                    <input type="text" class="form-control form-control-user" placeholder="Name"
                           th:field="*{userName}">
                    </div>
                    <div class="col-md-12 text-center">
                        <a th:href="@{/}" class="btn btn-success">Home Page</a>
                        <button type="submit" class="btn btn-success">Add Activity</button>
                    </div>
                </form>

            </td>
        </tr>
        </tbody>
    </table>
    <div th:if="${#vars['message']}" class="alert alert-success" th:text="${#vars['message']}"></div>
</div>

</body>
</html>
